<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JADCA2git</display-name>  
  
    <welcome-file-list>
		<welcome-file>index.html</welcome-file>		
		<!--  <welcome-file>CA1/Login.jsp</welcome-file>-->
	</welcome-file-list>	
	
	 <servlet>
        <servlet-name>loginValidation</servlet-name>
        <servlet-class>servlets.loginValidation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginValidation</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetAllCategories</servlet-name>
        <servlet-class>servlets.GetAllCategories</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllCategories</servlet-name>
        <url-pattern>/GettingAllCategories</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MainPageSql</servlet-name>
        <servlet-class>servlets.MainPageSql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPageSql</servlet-name>
        <url-pattern>/MainPage</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HeaderSql</servlet-name>
        <servlet-class>servlets.HeaderSql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeaderSql</servlet-name>
        <url-pattern>/Header</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ListProductSql</servlet-name>
        <servlet-class>servlets.ListProductSql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProductSql</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SearchSql</servlet-name>
        <servlet-class>servlets.SearchSql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchSql</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterLogic</servlet-name>
        <servlet-class>servlets.RegisterLogic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterLogic</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditProductSql</servlet-name>
        <servlet-class>servlets.EditProductSql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductSql</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getQuantityInCartSQL</servlet-name>
        <servlet-class>servlets.getQuantityInCartSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getQuantityInCartSQL</servlet-name>
        <url-pattern>/getQuantityInCart</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>UpdateCustomerProfileSql</servlet-name>
        <servlet-class>servlets.UpdateCustomerProfileSql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCustomerProfileSql</servlet-name>
        <url-pattern>/UpdateCustomerProfile</url-pattern>
    </servlet-mapping>
</web-app>